language: node_js
node_js:
  - "5"
  - "4"
matrix:
  include:
    - node_js: "6"
      env:
        - TEST="all"
        - CXX=g++-4.8
sudo: false
cache:
  directories:
    - node_modules
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
after_success:
  - 'cat ./coverage/lcov.info | ./node_modules/.bin/coveralls'
